<h2>Create a Post</h2>

<%= form_with model: @post do |form| %>
  <div class='field'>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'input' %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class='field'>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: 'input' %>
     <% @post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit 'Create', class: 'button' %>
  </div>
<% end %>
